# Svelte & SvelteKit
/build
/.svelte-kit
/package

# Node.js
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build outputs
/dist
/static/build

# Vercel
.vercel

# Coverage directory
/coverage 
